<h2 align="center">Invoices</h2>
<table class="table table-bordered">
  <th>Customers</th>
  <th>Invoices</th>
  <th>Payments</th>
  <th>Suppliers</th>
  <th>Invoice Number</th>
  <th>Date Due</th>
  <th>Credit Notes</th>
  <th>TotalDiscount</th>
  
</table>
