<h2 align="center">Invoices</h2>
<table class="table table-bordered">
  <th>Customers</th>
  <th>Invoices</th>
  <th>Payments</th>
  <th>Suppliers</th>
  <th>Invoice Number</th>
  <th>Date Due</th>
  <th>Credit Notes</th>
  <th>TotalDiscount</th>
  <% @invoices.each do |invoice|%>
  <tr>
    <td><%= invoice.contact.contact_name%>
       </td>
    <td></td>
    <td></td>
    <td></td>
    <td> <%= invoice.invoice_number%> </td>
    <td><% invoice.payments.each do|payment|%>
    <%= payment.updated_at%>
    <%end%></td>
    <td></td>
    <td></td>
  </tr>
  <%end%>

</table>
