<ul class="nav nav-tabs">
  <li class="active"><%= link_to "Payments", '/payment/index'%></li>
  <li><%= link_to "Invoices", '/invoice/index'%></li>
  <li><%= link_to "Suppliers", '/supplier/index'%></li>
    <li><%= link_to "Custommers", '/customer/index'%></li>
</ul>
<h2>Welcome to xeroimporter</h2>

