
<h2 align="center">Customers</h2>
<table class="table table-bordered">
  <th>Customer</th>
  <th>Email </th>
  <th>Update_at</th>
<% @contacts.each do |contact|%>
  <tr>
    <td><%= contact.name%></td>
      <td><%= contact.email_address%></td>
           <td><%= contact.updated_date_utc%></td>
      
  </tr>
  <%end%>
</table>