<h2 align="center"> GetCode </h2>
<br />
<div align="center"class="control-group">
  <%= form_tag :action => 'get_xero' %>
  <input type="text" name="XERO_API_CONS_KEY" class="input-large" />
  <br />
  <input type="text" name="XERO_API_SECR_KEY" class="input-large" />
<br />
  <%= submit_tag "Sync", :class => "btn btn-large btn-primary"%>
  <% form_tag%>
</div>