<h2 align="left"> Set Up</h2>
<div align="center"class="control-group">
  <%= form_tag "/xeroapi/synchronize" do %>
  <%= text_field_tag "client", "Your oauth consumer key" ,:class =>"input-xlarge"%>
  <br />
  <%= text_field_tag "client", "Your oauth consumer secret" ,:class =>"input-xlarge"%>
  <br />
  <%= submit_tag "Authorise Xero and sync", :class => "btn btn-large btn-primary"%>
  <% end %>
</div>
